body {
    background-color: #ced4d8;
}

h1 {
    color: #ac6ac7;
}

h2 {
    color: rgb(255, 165, 0);
}

li {
    color: blue;
}

p {
    background-color: gold;
}

input {
    border: 5px pink dotted;
}

.first {
    background-color: #fff;
}

#important {
    border: 3px #0000ff dashed;
}

div > p {
    font-size: 30px;
}

input[type="email"] {
    background-color: #808080;
}

div:nth-of-type(3)>p {
    background-color: hotpink;
}

div:nth-of-type(3)>p:nth-of-type(2) {
    border: 7px solid rgb(255, 255, 255);
}

div:nth-of-type(3)>em {
    color: seashell;
    font-size: 25px;
}